/* color */
$primary-dissabled: #12acea59;
$primary-fondo: #25303f;
$primary-primary: #12acea;
$secondary-01: #23d4ba;
$secondary-02: #182839;
$secundary-secondary-03: #2285c2;
$secundary-secondary-04: #a5a5a5;
$secundary-secondary-05: #282828;
$secundary-secondary-06: #0b676c;
$support-error: #ff0000;
$support-link: #4000ff;
$support-succes: #006303;
$text-color: white;

/* font-size */
$size-body-size: 0.75rem;
$size-subtitle-size: 0.9375rem;
$size-title-h4-size: 1.25rem;
$size-title-h2-size: 1.875rem;
$size-title-h3-size: 1.875rem;
$size-title-h1-size: 2.5rem;

/* font */
$fonts-body-font: 'Lato', sans-serif;
$fonts-subtitle-font: 'Lato', sans-serif; 
$fonts-title-font: 'Berlin Sans FB', sans-serif; 

/* font weight */
$weight-bold: Bold;
$weight-regular: Regular;
$weight-semibold: Semibold;